{% extends "sitemanager/header.html" %}

{% block content %}      
<div class="container">
    <div class="col-md-12">
        <h1>Alice in Wonderland, part dos</h1>
        <h3>Yazar Bilgileri:</h3>
        <div class="pull-left">
            <span class="label label-info">Yazar Adı-Soyadı:</span>
            <span class="label label-success">Öğrenci Numarası:</span><br>
            <span class="label label-primary">Öğretim Türü:</span>
            <span class="label label-info">Ders Adı:</span>
            <span class="label label-warning">Jüriler:</span>
        </div>         
         <br><br>
        <p>'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words:
        'Yes, we went to school in the sea, though you mayn't believe it—'
        'I never said I didn't!' interrupted Alice.
        'You did,' said the Mock Turtle.</p>
        <div>
            <span class="badge">Yayımlandığı Dönem 2012-08-02 20:47:04</span><br>
            <span class="badge">Anahtar Kelimeler:</span><span class="badge">Ders Adı:</span> <br>
            <span class="badge">Jüriler:</span>      
        </div>
        
    </div>
</div>

{% endblock %}