{% extends "sitemanager/header.html" %}

{% block content %}      
<br>
<table class="table" style="background-color: #e4f0f8;width: 80%;margin-left: auto;
margin-right: auto;">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Yazar İsim</th>
        <th scope="col">Yazar Numarası</th>
        <th scope="col">Yazar Öğretim Türü</th>
        <th scope="col">Ders İsmi</th>
        <th scope="col">Teslim Tarihi</th>
        <th scope="col">Proje Başlığı</th>
        <th scope="col">Detay</th>
      </tr>
    </thead>
    <tbody>
        
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><a type="button" href="/data_detail" class="btn btn-info">Proje Detay</a></td>
      </tr>
    </tbody>
  </table>
{% endblock %}